#userselect-filter {
	width: 340px;
	margin: 0 0 5px 0;
}

#userselect {
	width: 350px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	
	margin: 0!important;
	padding: 0!important;
	list-style-type: none;
	
	background: #f6f6f6;
	
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#userselect li {
	padding: 10px;
	background-color: #f6f6f6;
	
	transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	
	cursor: pointer;
}
#userselect li:last-child {
	border-bottom: 0;
}
#userselect li:hover, #userselect li.active {
	background-color: #CCDFE3;
}